@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="pageHeader">Welcome To Build Your Bowl!</h1>
<p class="pageDescription">This is NOT Chipotle. Guacamole IS NOT an extra $2 here.</p>

<h3>Entrees</h3>
<ul class="entree-list">
</ul>

<h3>Sides</h3>

<h3>Drinks</h3>

<h3>Kids Meals</h3>